/griffithpsychapps.com/awstats/
/griffithpsychapps.com/cgi-bin/
/griffithpsychapps.com/griffithpsychapps.com/
/griffithpsychapps.com/RobinDB/
/griffithpsychapps.com/Serious_Test/
/griffithpsychapps.com/ta/